nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') SoEasy
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href="/table") TABLE
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="/setting") SETTING
      li.nav-item
        a.nav-link(href="#") GROUP CONTROLLER
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Dropdown
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here


