extends layout

block content
  h1= title
  p #{title}
  p version 3
  


  .card.text-white.bg-primary.mb-3(style="max-width: 20rem;")
    .card-header SoEasy
    .card-body
      h4.card-title Card
      p.card-text test


